/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.row {
  margin-right: 0px;
  margin-left: -10px;
}

.container-fluid {
  padding-right: 1%;
  padding-left: 1%;
  margin-right: auto;
  margin-left: auto;
  width: 98%;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.otf);
}

body {
  font-family: Montserrat;
}

.HOW-WE-USE-YOUR-DONA {
  width: 369px;
  height: 27px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.custom-navbar-link {
  margin-left: 8px;
  margin-right: 8px;
  color: #ffffff;
  font-family: Montserrat;
  cursor:pointer;
}
.jumbotron{
    background-image: url("../img/color-mask.png");
    background-size:     cover !important;
    background-repeat:   no-repeat !important;
}
.jumbotron_bg {
    background-image: url("../img/kris-mikael-krister-556573-unsplash.png") !important;
    background-size:     cover !important;
    background-repeat:   no-repeat;
    background-position: top;
}

.kris-mikael-krister-556573-unsplash {
  width: 1920px !important;
  height: 1080px !important;
  object-fit: contain !important;
}

.Color-Mask {
  width: 1920px;
  height: 1095px;
  object-fit: contain;
  background-image: linear-gradient(351deg, rgba(255, 255, 255, 0), rgba(24, 151, 196, 0) 87%, rgba(13, 146, 193, 0.95), #008cbe);
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
}

.Welcome {
  width: 108px !important;
  height: 27px !important;
  font-family: Montserrat;
  font-size: 22px !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #ffffff !important;
}

.Help-Us-Save-A-Billi {
  width: 922px !important;
  height: 184px !important;
  font-family: Montserrat;
  font-size: 80px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.15 !important;
  letter-spacing: normal !important;
  color: #ffffff !important;
}

/* Font style  */

h6 {
  font-size: 14px;
  color: #3e4c5b;
}

h1 {
  font-size: 50px;
  color: #3e4c5b;
}

p {
  font-size: 22px;
  line-height: 34px;
  color: #9aa8b6;
}

.read-more-btn {
  color: #23cf5f;
    font-family: Montserrat;
}
.vl {
    width: 1px;
    height: 100%;
    border: solid 2px #dfe4e8;
}
.cedric-frixon-463001-unsplash {
    object-fit: contain;
}

.SOS-Turtle-Conservat {
    width: 470px !important;
    height: 183px !important;
    font-family: Montserrat;
    font-size: 30px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #3e4c5b !important;
}
.Unique-opportunities {
    width: 470px !important;
    //height: 156px !important;
    font-family: Montserrat;
    font-size: 22px !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.55 !important;
    letter-spacing: normal !important;
    color: #9aa8b6 !important;
}
.SOS-Turtle-Conservat {
    width: 417px;
    height: 314px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.55;
    letter-spacing: normal;
    color: #9aa8b6;
}
.SOS-TURTLE-CONSERVAT {
    width: 470px;
    height: 183px;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3e4c5b;
}
.SOS-TURTLE-CONSERVAT {
    width: 470px;
    height: 183px;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3e4c5b;
}
@media (min-width: 1200px) {
  .col-lg-6 {
    width: 75%;
    margin-top: 13px;
}
}
@media screen and (min-width: 768px)
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 25px;
    padding-left: 25px;
}
.donatePart {

}
.donatePart .dotaneString {

}
.donatePart .dotaneString span {
  float: left;
  margin-top: 18px;
}
.donatePart .columnName {
  border: none;
  height: auto;
  float: left;
  width: 100%;
  text-align: center;
}
.donatePart .columnName p {
  margin: 0;
  float: left;
  width: 100%;
  font-size: 12px;
  border: none;  
}
.donatePart .columnName p span {
  float: left;
  border: none;
  width: 100%;  
}
.donatePart .donate {
  float: right;
  padding: 17px;
  background-color: #7bde7b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.donatePart .value {
  float: left;
  width: 100%;
  border: none;
  text-align: center;  
}
.latestNews {
  margin: 0;
  float: left;
  width: 100%;
}
.latestNews h3 {
  margin-left: 16.666667%;
  font-size: 40px;
  margin-top: 45px;
}
.latestNews .contentLatestNews {
  width: 68%;
  margin-left: auto;
  margin-right: auto;


}
.latestNews .contentLatestNews .articleNews {
  float: left;
  width: 46%;
  padding: 1%;  
}
.latestNews .contentLatestNews .articleNews .categories {
  float: left;
  width: 100%;
  color: black;
  font-size: 10px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}
.latestNews .contentLatestNews .articleNews h4 {
    font-weight: bold;
    font-size: 35px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.latestNews .contentLatestNews .articleNews .publishDate {
  float: left;
  width: 100%;
  font-size: 12px;
  margin-bottom: 10px;
}
.latestNews .contentLatestNews .articleNews .imagePlace {
  float: left;
  width: 100%;
  overflow: hidden;
  height: 170px;
}
.latestNews .contentLatestNews .articleNews .imagePlace img {
  
}
.latestNews .contentLatestNews .articleNews .pasus {
  float: left;
  width: 100%;
  text-align: justify;
  font-size: 17px;
  margin-top: 25px;
}
.latestNews .contentLatestNews .articleNews .readMore {
  float: left;
  font-size: 15px;
  color: #26d026;
  cursor: pointer;
}
.moreArticles {
  float: left;
  width: 96%;
  text-align: center;
}
.moreArticles p {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  padding: 10px;
  background-color: #3eaf3e;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.subscribeContainer {
  float: none;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.subscribeContainer p {
  float: left;
  width: 100%;
  font-size: 15px;
  text-align: center;  
}
.subscribeContainer p span {
  float: left;
  width: 100%;
  color: #25c125;  
}
.subscribeContainer .email {
  
  width: 100%;
  align-items: center;
}
.subscribeContainer .email input {
  border: none;
  background: none;
  padding: 15px;
  background-color: #f2f6ff;
}
.subscribeContainer .email button {
  border: none;
  background: none;
  padding: 15px;
  background-color: #2cd82c;
  color: white;
}

footer {
  float: none;
  margin-top: 20px;
  width: 66%;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 43px;
  margin-top: 110px;  
}